* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Gotham-Light";
}

@font-face {
  font-family: "Gotham-Light";
  src: url("./assets/fonts/Gotham-Light.otf");
}

/* header and nav */

.header {
  padding: 10px;
  background-color: rgb(70, 205, 192);
}

.nav-button:hover {
  color: white;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
/* main section */
.section-container {
  padding: 100px;
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: rgb(134, 222, 183);
  /*display: none; /* DELETE THIS LATER */
}

.title {
  text-align: center;
}

.quiz-descrip {
  text-align: center;
  padding: 20px;
}

.start-button {
  background-color: transparent;
  border-radius: 2em;
  border: 0.2em solid #1ecd97;
  color: #1ecd97;
  cursor: pointer;
  font-size: 3vmin;
  padding: 0.7em 1.5em;
  text-transform: uppercase;
  transition: all 0.25s ease;
}

.start-button:hover {
  background: #1ecd97;
  color: #333;
}

/* css below this is for the timer and questions */

.timer-section {
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(70, 175, 189);
  /* CHANGE LATER */
}

.timer {
  color: beige;
  font-size: 30px;
}

.question-container {
  padding: 50px;
  background-color: aquamarine;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  /*display: none; /* CHANGE LATER */
}

.question-title {
  padding: 20px;
  text-align: center;
}

.answer-container {
  padding: 10px;
  list-style-type: none;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.answers-item {
  background-color: transparent;
  border-radius: 2em;
  border: 0.2em solid #1ecd97;
  color: #1ecd97;
  cursor: pointer;
  font-size: 3vmin;
  padding: 0.7em 1.5em;
  text-transform: uppercase;
  transition: all 0.25s ease;
  margin-bottom: 5px;
}

.answers-item:hover {
  background: #1ecd97;
  color: #333;
}

/* FORM AT THE END */
.form-container {
  padding: 100px;
  background-color: aquamarine;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  /*display: none; /*EDIT LATER*/
}

.submit-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.submit-button {
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 20px;
}

/* hide class */
.hide {
  display: none;
}
