* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Gotham-Light";
}

@font-face {
  font-family: "Gotham-Light";
  src: url("./assets/fonts/Gotham-Light.otf");
}

/* header and nav */

.header {
  padding: 10px;
  background-color: #222422;
}

.nav-button {
  text-decoration: none;
  color: white;
  margin-right: 10px;
}

.navbar {
  text-align: right;
}
/* main section */
.section-container {
  padding: 100px;
  display: flex;
  width: 100%;
  height: 89vh;
  align-items: center;
  flex-direction: column;
  background-color: #222422;
  /*display: none; /* DELETE THIS LATER */
}

.title {
  color: white;
  font-size: 10vw;
}

.quiz-descrip {
  text-align: center;
  padding: 20px;
  color: white;
  font-size: 2vw;
}

.start-button {
  background-color: transparent;
  border-radius: 2em;
  border: 0.2em solid #1ecd97;
  color: #1ecd97;
  cursor: pointer;
  font-size: 3vmin;
  padding: 0.7em 1.5em;
  text-transform: uppercase;
  transition: all 0.25s ease;
}

.start-button:hover {
  background: #1ecd97;
  color: #333;
}

/* css below this is for the timer and questions */

.timer-section {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1ecd97;
  height: 10vh;
  color: #222422;
  font-weight: bold;
  font-size: 22px;
  text-transform: uppercase;
}

.question-container {
  padding: 50px;
  background-color: #222422;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 79vh;
  /*display: none; /* CHANGE LATER */
}

.question-title {
  padding: 20px;
  text-align: center;
  color: white;
  font-size: 5vw;
}

.answer-container {
  padding: 10px;
  list-style-type: none;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.answers-item {
  background-color: transparent;
  border-radius: 2em;
  border: 0.2em solid #1ecd97;
  color: #1ecd97;
  cursor: pointer;
  font-size: 3vmin;
  padding: 0.7em 1.5em;
  text-transform: uppercase;
  transition: all 0.25s ease;
  margin-bottom: 5px;
}

.answers-item:hover {
  background: #1ecd97;
  color: #333;
}

/* FORM AT THE END */
.form-container {
  padding: 50px;
  background-color: #222422;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 79vh;
  padding-top: 150px;
  /*display: none; /*EDIT LATER*/
}

.form-box {
  background-color: transparent;
  border-radius: 2em;
  border: 0.2em solid #1ecd97;
  color: #1ecd97;
  cursor: pointer;
  font-size: 3vmin;
  padding: 0.7em 1.5em;
  text-transform: uppercase;
  transition: all 0.25s ease;
  margin-top: 10px;
  text-align: center;
}

.submit-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.submit-button {
  background-color: transparent;
  border-radius: 2em;
  border: 0.2em solid #1ecd97;
  color: #1ecd97;
  cursor: pointer;
  font-size: 3vmin;
  padding: 0.7em 1.5em;
  text-transform: uppercase;
  transition: all 0.25s ease;
  margin-top: 10px;
}

.submit-button:hover {
  background: #1ecd97;
  color: #333;
}

/* hide class */
.hide {
  display: none;
}

.footer {
  display: flex;
  background-color: #1ecd97;
  height: 5vh;
  align-items: center;
}

.footer h3 {
  color: #222422;
  font-weight: 300;
  margin-left: 10px;
}
