* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* header and nav */

.header {
  padding: 10px;
  background-color: antiquewhite;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
/* main section */
.section-container {
  padding: 100px;
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: aqua;
  /*display: none; /* DELETE THIS LATER */
}

.title {
  text-align: center;
}

.quiz-descrip {
  text-align: center;
  padding: 20px;
}

.start-button {
  background-color: pink;
  padding: 10px;
}

/* css below this is for the timer and questions */

.timer-section {
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: darkseagreen;
  /* CHANGE LATER */
}

.timer {
  color: beige;
  font-size: 30px;
}

.question-container {
  padding: 50px;
  background-color: aquamarine;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  /*display: none; /* CHANGE LATER */
}

.question-title {
  padding: 20px;
  text-align: center;
}

.answer-container {
  padding: 10px;
  list-style-type: none;
}

.answers-item {
  padding: 10px;
  margin-bottom: 10px;
  border-style: groove;
  border-radius: 8px;
  border-color: aqua;
}

.answers-item:hover {
  background-color: aqua;
}

/* FORM AT THE END */
.form-container {
  padding: 100px;
  background-color: aquamarine;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  display: none; /*EDIT LATER*/
}

.submit-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.submit-button {
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 20px;
}

/* hide class */
.hide {
  display: none;
}
